body {
  font-family: Lato,'Helvetica Neue',avenir,sans-serif;
  color: #000;
  font-size: @page-font-size;
  margin: 0;
}

.PageHeader {
  background-color: @header-background-color;
}

.LoadingIndicator {
  font-size: 20px;
  font-style: bold;
}
