.FeedsView {
  padding: @view-padding;
}

.FeedsView-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.FeedsView-listItem {
  padding: 8px 0;
}

.FeedsView-createdAt {
  color: @feed-date-color;
}

.FeedsView-text {
  font-size: @feed-text-font-size;
  line-height: 18px;
}

.FeedsView-link {
  a {
    color: #428bca;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
